:root{
  /*--- Letra ---*/
  --font-main: 'Cascadia Code';
  --font-color: #EACEFF;
  --font-size: 16px;

  /*--- Colores ---*/
  --c-primary: #2A3775;
  --c-secundary: #f5f5f5;
  scroll-behavior: smooth;
}

/*--- Reset CSS ---*/
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  text-align: center;
}

a{
  text-decoration: none;
}

html {
  font-family: var(--font-main);
  font-size: var(--font-size);
  color: var(--font-color);
}

body {
  display: grid;
  min-height: 100vh;
  background-color: #2A3775;
  overflow-x: hidden;
}

span{
  font-family: 'Great Vibes', cursive;
}

.title {
  font-size: 2em;
  display: block;
  text-align: center;
}

#nav {
  width: 100%;
  background-color: var(--c-secundary);
  color: var(--c-primary);
  height: 6vh;
}

#main, #skills, #contact {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {

}

nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
