span{
  font-family: 'Great Vibes', cursive;
}

.page {
  margin: 0px;
  border: none;
  padding: 0px;
  display: grid;
  min-height: 100vh;
}

.text_principal {
  font-size: 2em;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgb(101, 182, 230);
}
