@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Rubik&display=swap');


:root{

  scroll-behavior: smooth;
  --max-width: 1200px;
  
  /*--- Colores ---*/
  --color-base: #FFF3E0; /*Background color*/
  --color-primary: #4d340c ;
  --color-secundary: #1445cc;


  /*--- Font ---*/
  --font-size: 16px;
  --font-style-main: 'Koulen', cursive;
  --font-style-secundary: 'Rubik', sans-serif;

}



/*---******* Reset CSS *******---*/
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  text-align: center;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

html {
  font-family: var(--font-style-main);
  font-size: var(--font-size);
  color: var(--color-primary);
}

body {
  min-height: 100vh;
  background-color: var(--color-base);
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: var(--color-primary);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}

section {
  min-height: 100vh;
}

/*---******* Reset CSS *******---*/



/*---******* Components *******---*/

/*---******* Hero *******---*/
#home{
  margin: auto;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.text-tittle{
  font-family: 'Koulen', cursive;
  font-size: 10vw;
  color: rgba(255,255,255,0);
  background-image: linear-gradient(to right, #ef1062, #7c23ea);
  background-clip: text;
  -webkit-background-clip: text;
}

.tittle-subtext {
  font-size: 3vw;

}

/*---******* Skills *******---*/